.page {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-bottom: calc(120px + env(safe-area-inset-bottom, 16px));
}

/* Верхняя зелёная карточка */

.cardPrimary {
    background: radial-gradient(
        520.42% 147.82% at 50% -47.82%,
        #002a07 0%,
        #00f091 100%
    );
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
}

.amountBlock {
    padding: 0 16px 32px 16px;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.amountLabel {
    font-family: 'TikTok Sans';
    font-weight: 900;
    font-size: 12px;
    line-height: 80%;
    letter-spacing: -2%;
    text-transform: uppercase;
}

.amountRow {
    display: flex;
    align-items: flex-end;
    gap: 4px;
}

.amountCurrency {
    font-family: 'Martian Grotesk';
    font-weight: 500;
    font-size: 24px;
    line-height: 80%;
    letter-spacing: -4%;
}

.amountValue {
    font-family: 'Martian Grotesk';
    font-weight: 800;
    font-size: 64px;
    line-height: 80%;
    letter-spacing: -3%;
    font-variation-settings: 'wdth' 120;
}

.amountCents {
    font-family: 'Martian Grotesk';
    font-weight: 500;
    font-size: 24px;
    line-height: 80%;
    letter-spacing: -4%;
}

/* Блок способов оплаты */

.methodsSection {
    padding: 0 16px;
}

.methodsTitle {
    font-family: 'TikTok Sans';
    font-weight: 700;
    font-size: 20px;
    line-height: 80%;
    letter-spacing: -2%;
    font-variation-settings: 'wdth' 120;

    color: #0e1412;

    margin-bottom: 8px;
}

.methodsCard {
    background: #cdf9e7;
    border-radius: 24px;
    padding: 24px 16px 16px 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* Радио-кружки */

.methodLeft {
    display: flex;
    align-items: center;
    gap: 10px;
}

.radioOuter {
    width: 24px;
    height: 24px;
    border-radius: 999px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
}

.radioOuterActive {
    border: 5px solid #00f091;
    background: #fff;
}

/* Общий стиль для кнопок методов */

.methodRow,
.balanceRow {
    width: 100%;
    border-radius: 12px;
    border: none;
    outline: none;
    padding: 16px;
    border: 2px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.methodLabel {
    font-family: 'Martian Grotesk';
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.15px;
    color: #0e1412;
}

/* С моего счёта */

.balanceRow {
    background: #ffffff;
}

.balanceText {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.balanceTitle {
    font-family: 'Martian Grotesk';
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.15px;
    color: #0e1412;
}

.balanceSubtitle {
    font-family: 'TikTok Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: -2%;
    text-align: left;
}

.topUpButton {
    border-radius: 10px;
    border: none;
    padding: 8px 20px;

    font-family: 'TikTok Sans';
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.15px;

    background: #00f091;
    color: #0e1412;
}

/* Выбранный метод */

.methodActive {
    background: #ffffff;
}

/* Нижняя кнопка */

.bottomDock {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    transform: none;
    width: 100%;
    max-width: none;
    padding: 0;
}

.bottomInner {
    background: #c7ffe5;
    border-radius: 32px 32px 0 0;
    padding: 24px 16px calc(24px + env(safe-area-inset-bottom, 0px)) 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.paymentButton {
    margin-top: 4px;
    width: 100%;
    border-radius: 12px;
    border: none;
    padding: 16px;

    background: #00f091;
    color: #022c22;

    font-family: 'TikTok Sans';
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.15px;

    cursor: pointer;
}
