@font-face {
    font-family: 'TikTok Sans';
    src: url('../assets/fonts/TikTokSans/TikTokSans-Light.ttf')
        format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TikTok Sans';
    src: url('../assets/fonts/TikTokSans/TikTokSans-Regular.ttf')
        format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TikTok Sans';
    src: url('../assets/fonts/TikTokSans/TikTokSans-Medium.ttf')
        format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TikTok Sans';
    src: url('../assets/fonts/TikTokSans/TikTokSans-SemiBold.ttf')
        format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TikTok Sans';
    src: url('../assets/fonts/TikTokSans/TikTokSans-Bold.ttf')
        format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TikTok Sans';
    src: url('../assets/fonts/TikTokSans/TikTokSans-ExtraBold.ttf')
        format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Martian Grotesk';
    src: url('../assets/fonts/MartianGrotesk/MartianGrotesk-StdLt.woff2')
        format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Martian Grotesk';
    src: url('../assets/fonts/MartianGrotesk/MartianGrotesk-StdRg.woff2')
        format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Martian Grotesk';
    src: url('../assets/fonts/MartianGrotesk/MartianGrotesk-StdMd.woff2')
        format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Martian Grotesk';
    src: url('../assets/fonts/MartianGrotesk/MartianGrotesk-StdBd.woff2')
        format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Martian Grotesk';
    src: url('../assets/fonts/MartianGrotesk/MartianGrotesk-StdxBd.woff2')
        format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
