* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: inherit;
    height: 100%;

    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}

*:focus {
    outline: none;
}

button,
input,
textarea,
select {
    font: inherit;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    color: inherit;
}

button {
    cursor: pointer;
}

ul,
ol {
    list-style: none;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    scroll-behavior: smooth;
}

button,
a,
[role='button'] {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

button:focus,
button:active,
button:focus-visible {
    outline: none;
}

button {
    -webkit-appearance: none;
    appearance: none;
    background: none;
}

button:active {
    background-color: transparent;
    box-shadow: none;
}

button,
button * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
