* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: inherit;
    height: 100%;
    width: fit-content;
}

*:focus {
    outline: none;
}

button,
input,
textarea,
select {
    font: inherit;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    color: inherit;
}

button {
    cursor: pointer;
}

ul,
ol {
    list-style: none;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    scroll-behavior: smooth;
}
