.root {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

/* фиксированная ширина колонки */
.inner {
    width: 100%;
    min-height: 100vh;
    background: radial-gradient(
        520.42% 147.82% at 50% -47.82%,
        #002a07 0%,
        #00f091 100%
    );

    display: flex;
    flex-direction: column;
}

/* область, которая скроллится */
.content {
    flex: 1;
    overflow-y: auto;
}

.bottomDock {
    position: fixed;
    bottom: calc(8px + env(safe-area-inset-bottom, 0px));
    left: 50%;
    transform: translateX(-50%);

    width: calc(100% - 24px);
    max-width: 390px;

    display: flex;
    flex-direction: column;
    z-index: 50;
}

.fullWidthBar {
    width: 100%;
}

.navWrapper {
    padding: 0 4px;
}
