.accordeon {
    margin-bottom: 4px;
}

.accordeonHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 24px;
    border-radius: 24px;
    background: #cdf9e7;
}

.accordeonHeaderIsOpen {
    border-radius: 24px 24px 0 0;
}

.accordeonHeaderClosing {
    transition: border-radius 0.25s ease;
}

.accordeonHeaderOpening {
    transition: border-radius 0.25s ease;
}

.accordeonBody {
    padding: 0 12px 12px 12px;
    border-radius: 0 0 16px 16px;
    background: #cdf9e7;

    overflow: hidden;

    display: flex;
    flex-direction: column;
    gap: 4px;
}

/* открытое состояние */
.accordeonBodyOpen {
    max-height: 3000px;
    transform: translateY(0);
}

/* закрытое состояние */
.accordeonBodyClosed {
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
}

/* анимация как в SubscriptionAccordeon */
.opening {
    transition: max-height 0.35s ease-in-out, opacity 0.3s ease,
        padding-top 0.25s ease, padding-bottom 0.25s ease;
}

.closing {
    transition: max-height 0.35s ease-out, opacity 0.25s ease-out,
        padding-top 0.2s ease-out, padding-bottom 0.2s ease-out;
}

.accordeonToggleIcon {
    display: inline-block;
    transition: transform 0.2s ease;
}

.accordeonToggleOpen .accordeonToggleIcon {
    transform: rotate(180deg);
}

.headerRight {
    display: flex;
    align-items: center;
    gap: 12px;
}

.headerLeft {
    display: flex;
    align-items: center;
    gap: 8px;
}

.trash {
    width: 24px;
}

.accordeonTitle {
    font-family: 'TikTok Sans';
    font-weight: 700;
    font-size: 20px;
    line-height: 80%;
    letter-spacing: -2%;
    font-variation-settings: 'wdth' 120;
    color: #0e1412;
}

.totalTag {
    background: #fff;
    padding: 10px 12px;
    border-radius: 100px;
    font-family: 'TikTok Sans';
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    letter-spacing: -2%;
    text-align: center;
}

.totalTag span {
    color: #717182;
}

.accordeonBody {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.itemRow {
    background: #f8fffa;
    border: 1px solid #d9f5e4;
    border-radius: 14px;
    padding: 10px 12px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.checkboxWrapper {
    position: relative;
    width: 26px;
    height: 26px;
}

.checkboxWrapper input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.checkbox {
    width: 26px;
    height: 26px;
    border-radius: 6px;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #0e1412;
}

.checkboxWrapper input:checked + .checkbox {
    border: none;
    background: #33ce39;
}

.itemInfo {
    flex: 1;
}

.itemName {
    font-family: 'TikTok Sans';
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.15px;
    color: #0e1412;
    margin-bottom: 4px;
}

.itemUid {
    font-family: 'TikTok Sans';
    font-weight: 400;
    font-size: 10px;
    line-height: 120%;
    letter-spacing: -2%;
    color: #717182;
}

.itemRight {
    width: 100px;
    text-align: left;
}

.itemDuration {
    font-family: 'TikTok Sans';
    font-weight: 400;
    font-size: 10px;
    line-height: 120%;
    letter-spacing: -2%;
    color: #717182;
}

.itemPrice {
    font-family: 'TikTok Sans';
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.15px;
    color: #0e1412;
}
