.root {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    width: fit-content;
}

.inner {
    width: 100%;
    max-width: 480px; /* твоя “ширина макета” */
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    background: radial-gradient(
        520.42% 147.82% at 50% -47.82%,
        #002a07 0%,
        #00f091 100%
    );
}
