.page {
    display: flex;
    flex-direction: column;
    min-height: 0;
    height: 100%;
}

.pageInner {
    padding: 0 0 calc(80px + env(safe-area-inset-bottom, 0px)) 0px;
}

.scroll {
    flex: 1;
    overflow-y: auto;
    box-sizing: border-box;
}

/* Секция */

.section {
    margin: 0 16px;
}

.sectionTitle {
    font-family: 'TikTok Sans';
    font-weight: 700;
    font-size: 32px;
    line-height: 80%;
    color: #fff;
    margin: 32px 0 16px 0;
    font-variation-settings: 'wdth' 120;
}
