.accordeon {
    background: #cdf9e7;
    border-radius: 18px;
    padding: 14px;
    margin-bottom: 4px;
}

.accordeonHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.headerRight {
    display: flex;
    align-items: center;
    gap: 12px;
}

.headerLeft {
    display: flex;
    align-items: center;
    gap: 8px;
}

.arrow {
    font-size: 18px;
    font-weight: 700;
}

.accordeonTitle {
    font-family: 'TikTok Sans';
    font-weight: 700;
    font-size: 20px;
    line-height: 80%;
    letter-spacing: -2%;
    font-variation-settings: 'wdth' 120;
    color: #0e1412;
}

.totalTag {
    background: #fff;
    padding: 10px 12px;
    border-radius: 100px;
    font-family: 'TikTok Sans';
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    letter-spacing: -2%;
    text-align: center;
}

.totalTag span {
    color: #717182;
}

.accordeonBody {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.itemRow {
    background: #f8fffa;
    border: 1px solid #d9f5e4;
    border-radius: 14px;
    padding: 10px 12px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.checkboxWrapper {
    position: relative;
    width: 22px;
    height: 22px;
}

.checkboxWrapper input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.checkbox {
    width: 22px;
    height: 22px;
    border-radius: 6px;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #0e1412;
}

.checkboxWrapper input:checked + .checkbox {
    border: none;
    background: #33ce39;
}

.itemInfo {
    flex: 1;
}

.itemName {
    font-family: 'TikTok Sans';
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.15px;
    color: #0e1412;
    margin-bottom: 4px;
}

.itemUid {
    font-family: 'TikTok Sans';
    font-weight: 400;
    font-size: 10px;
    line-height: 120%;
    letter-spacing: -2%;
    color: #717182;
}

.itemRight {
    width: 100px;
    text-align: left;
}

.itemDuration {
    font-family: 'TikTok Sans';
    font-weight: 400;
    font-size: 10px;
    line-height: 120%;
    letter-spacing: -2%;
    color: #717182;
}

.itemPrice {
    font-family: 'TikTok Sans';
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.15px;
    color: #0e1412;
}
