/* Нижнее меню */

.bottomNav {
    background: #cdf9e7;
    border-radius: 22px;
    padding: 2px 4px;
    width: 100%;
}

.subscriptionPageBottomNav {
    background: #cdf9e7;
    border-radius: 0 0 22px 22px;
    padding: 2px 4px;
    width: 100%;
}

.bottomNavInner {
    position: relative;
    display: flex;
    align-items: stretch;
}

.bottomNavActiveBg {
    position: absolute;
    top: 2px;
    bottom: 2px;
    left: 0;
    width: 25%;
    border-radius: 20px;
    background: #00f091;
    z-index: 1;
    transition: transform 0.2s ease-in-out;
}

.bottomNavItem {
    position: relative;
    z-index: 2;

    flex: 1;
    border: none;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 0;
    gap: 4px;
    border-radius: 20px;
    font-size: 10px;
    color: #0e141266;
}

.bottomNavItemActive {
    color: #0e1412;
}

.bottomNavIcon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottomNavLabel {
    font-family: 'Martian Grotesk';
    font-weight: 400;
    font-size: 10px;
}

.icon {
    width: 20px;
    height: 20px;
    color: #0e141266;
}

.iconActive {
    width: 20px;
    height: 20px;
    color: #0e1412;
}

/*Хедер с кнопкой назад*/

.header {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 16px 0 16px;
    margin: 16px 0;
    height: 56px;
}

.backButton {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    z-index: 2;
}

.backButtonPlaceholder {
    width: 32px;
    height: 32px;
}

.title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    font-family: 'Martian Grotesk';
    font-weight: 400;
    font-size: 16px;
    line-height: 80%;
    letter-spacing: -2%;
    text-align: center;
    color: #fff;
}

/*Модальное окно*/

.backdrop {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 50;
}

/* контейнер, который прилипает к низу */
.sheet {
    position: relative;
    width: 100%;
    height: 40%;
    animation: slideUp 0.25s ease-out;
}

.iconsImage {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    pointer-events: none;
    z-index: 1;
}

/* внутренняя часть модалки */

.sheetInner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    background: #cdf9e7;
    border-radius: 24px 24px 0 0;
    padding: 40px 20px 0px 20px;
    padding-bottom: calc(20px + env(safe-area-inset-bottom, 0px));
    text-align: center;
    z-index: 2;
}

/* большая иконка с галочкой */
.mainIcon {
    width: 56px;
    height: 56px;
    margin: 0 auto 12px;
    border-radius: 20px;
    background: #00f27c;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainIconCheck {
    font-size: 26px;
    font-weight: 700;
    color: #022c22;
}

/* текст */
.modalTitle {
    margin: 32px 0 18px;
    font-family: 'TikTok Sans';
    font-weight: 700;
    font-size: 32px;
    line-height: 80%;
    letter-spacing: 0%;
    font-variation-settings: 'wdth' 120;
}

/* кнопка */
.primaryButton {
    width: 100%;
    border: none;
    background: #00f091;
    border-radius: 12px;
    padding: 16px 32px;
    font-family: 'TikTok Sans';
    font-weight: 700;
    font-size: 12px;
    line-height: 80%;
    letter-spacing: -2%;
    color: #0e1412;
    font-variation-settings: 'wdth' 120;
}

/* анимация появления снизу */
@keyframes slideUp {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0%);
    }
}
